.menu {
	background-color: black;
}

.jumbotron {
	
}

#guts{
	font-size: 14pt;
	
}

img#celebImage {
	border: solid black 2px;
	height: 200px;
	width: 200px;
}

#aquarius {
	/*background-image: url('http://www.horoscope.com/images-US/signs/1.svg');*/

}

/*#image {
	height: 200px;
	width: 200px;
}*/

#astroWheel {
	height: 200px;
	width: 200px;

}

