.zodiacButtons {
	
}

#aquarius {
	background-color: red;
}

#image {
	height: 200px;
	width: 200px;
}

#astroWheel {

}

a #wikiLink {
/*<iframe width="560" height="315" 
src="https://www.youtube.com/embed/6eqCaiwmr_M" 
frameborder="0" allowfullscreen></iframe>}*/