// $default-aqua = 1CCCB5;
// $default-mint = 70FFED;
// $default-darkturqoise = 127F71;



#guts{
	font-size: 14pt;
}

img#celebImage {
	border: solid black 2px;
	height: 200px;
	width: 200px;
}



#astroWheel {
	height: 200px;
	width: 200px;

}

