<div class="container" id="header">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul class="list-inline">
				<li><a type="button" class="btn btn-default navbar-btn active" href="/home">Home</a></li>
				<li><a type="button" class="btn btn-default navbar-btn active" href="/image_gallery">Mission Timeline</a></li>
			    <li><a type="button" class="btn btn-default navbar-btn active" href="/learn_more">Sign Up</a></li>
			</ul>	
		</div>
	</div>
</div>
<br>
<br>
<br>

<hr>
<h1>More About Us</h1>
<hr>
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">
				<a type="link" href="http://www.haydenplanetarium.org/tyson/"><h3>Neil deGrasse Tyson</h3></a>
				<img src="/images/neil_hands.jpeg">
				<br>
				<p>Neil deGrasse Tyson, an American astrophysicist, cosmologist, author, and science communicator, was born and raised in New York City where he was educated in the public schools clear through his graduation from the Bronx High School of Science. Tyson went on to earn his BA in Physics from Harvard and his PhD in Astrophysics from Columbia.</p>
				<p>
				 Since 1996, he has been the Frederick P. Rose Director of the Hayden Planetarium at the Rose Center for Earth and Space in New York City. The center is part of the American Museum of Natural History, where Tyson founded the Department of Astrophysics in 1997 and has been a research associate in the department since 2003.</p>
				<ul>
					<li>Twitter: @neiltyson </li>
					<li>Or Write:
					<br>
					Hayden Planetarium & Department of Astrophysics
					<br>
					American Museum of Natural History
					<br>
					Central Park West at 79th Street
					<br>
					New York, New York 10024 </li>
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div class="thumbnail">
				<a type="link" href="http://billnye.com/"><h3>Bill Nye</h3></a>
				<img src="/images/bill-nye.jpeg">
				<br>
				<p>Bill Nye (the Science Guy), is an American science educator, television presenter, and mechanical engineer. He is best known as the host of the PBS children's science show Bill Nye the Science Guy (1993–1998), and for his many subsequent appearances in popular media as a science educator. Currently, he is the CEO of The Planetary Society.</p>
				<ul>
					<li>Twitter: @BillNye </li>
					<li>E-Mail: bnsg@billnye.com</li>
					<li> Or write:
					<br>
					Nye Labs, LLC
					<br>
					Bill Nye The Science Guy
					<br>
					4742 42nd Avenue SW, #143
					<br>
					Seattle, WA 98116</li>
				</ul>
			</div>
		</div>



	</div>

