<div class="container-fluid" id="header">
	<div class="row">
		<div class="col-md-4 col-md-4 col-md-offset-4">
			<ul class="list-inline">
				<li><a type="button" class="btn btn-link" active" href="/image_gallery">Mission Timeline</a></li>
			    <li><a type="button" class="btn btn-link" active" href="/contact">More About Us</a></li>
			    <li><a type="button" class="btn btn-link" active" href="/learn_more">Sign Up</a></li>
			</ul>	
		</div>
	</div>
</div>
<br>
<br>
<br>

<hr>
<br>
<br>
<div class="container" id="home_content">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
		<br>
			<img id="Icon" alt="Bill & Neil" src="/images/bill_neil_Icon.jpeg" class="img-rounded">
			<br>
			<br>
			<a type="button" class="btn btn-default navbar-btn active" href="/learn_more">I Want to COME!</a>


		</div>
	</div>

	<br>

	<div class="row">
		<div class= "col-md-offset-2 col-md-8 col-md-offset-2">
			<h1 class="text-center" id="title">Bill and Neil's <br><small>Excellent Adventure to MARS!</small></h1> 
			<br>
			<h5 class="text-center">The time has come to blow this joint! Donald is crazy and we're as good as toast.
			<br>
			<br>
			So we're making the move to Mars!</h5> 
			<hr>
			<br>
			<p>Bill and Neil's Excellent Journey aims to establish a permanent human settlement on Mars. Several unmanned missions will be completed, establishing a habitable settlement before carefully selected and trained crews will depart to Mars.</p>
			<br>
			<p>Funding and implementing this plan will not be easy, it will be hard. The Excellent Journey team, with its advisers and with established aerospace companies, will evaluate and mitigate risks and identify and overcome difficulties step by step.</p>
			<br>
			<p>Excellent Journey is a global initiative whose goal is to make this everyone’s mission to Mars, including yours. If we all work together, we can do this. We’re going to Mars. Come along! Sign up to be considered as a traveler!</p>

		</div>
	</div>
</div>




