
<div class="container" id="header">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul class="list-inline">

			    <li><a type="button" class="btn btn-default navbar-btn active" href="/home">Home</a></li>
				<li><a type="button" class="btn btn-default navbar-btn active" href="/contact">More About Us</a></li>
			    <li><a type="button" class="btn btn-default navbar-btn active" href="/learn_more">Sign Up</a></li>
			</ul>	
		</div>
	</div>
</div>
<br>
<br>
<br>

<hr>
<h1>Mission Timeline</h1>
<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2017 : </strong>Start Crew Selection</h3>
					<img src="/images/press_conference.png">
					<h4>Astronaut selection is launched worldwide</h4>
					<br>
					<p>In April 2017, the Astronaut Selection Program (ASP) will launch in New York and Shanghai. The selection program requires an online application and will proceed with video applications and personal interviews. The subsequent selection rounds will consist of group challenges and simulations.</p>
					<br>
					<p>At program's end, six teams of four individuals will have bene chosen for training. New ASPs will begin every year to replenish the training pool regularly. In addition, during this time an analogue of the Mars habitat is to be constructed on Earth for technology testing and training purposes.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2022 : </strong>Start of Crew Training</h3>
					<img src="/images/simulation-outpost.jpg">
					<h4>Selected candidates enter full-time training</h4>
					<br>
					<p>The first teams of candidates are expected to be selected and start training in 2022. They will train together until the launch in 2031. The group's ability to deal with prolonged periods of time while sequestered in a remote location will be the most important part of their training. Thus, they will learn how to to repair components of the habitat and rover, train in medical procedures, and learn to grow food in the habitat.</p>
					<br>
					<p>Every group spends several months of each training year in the analog outpost to prepare for its mission to Mars. The first outpost simulation location, a Mars-like terrain that is relatively easy to reach, will be chosen. A second training outpost will be located at a more remote environment like the Arctic desert.</p>
				</div>
			</div>
					

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2024 : </strong>Demo Mission</h3>
					<img src="/images/mars-lander.png">
					<h4>Launch of Mars-bound Demonstration Mission</h4>
					<br>
					<p>A demonstration mission to Mars will be launched to provide proof of concept for some of the technologies that are crucial for Mars One’s human mission to Mars. Beyond launch and landing on Mars, the mission will prove several important technologies for Mars One’s human mission. The lander payload will include:</p>
					<br>
					<p>
						<ul>
							<li>A camera to enable a video stream from Mars to Earth.</li>
							<li>A water extraction experiment to confirm that water can be extracted from the Martian soil, one of the most critically important aspects of human life on Mars.</li>
							<li>A thin film solar panel experiment testing multiple brands and types of thin film solar panels for their suitability in providing enough renewable energy to maintain and grow the settlement.</li>
							<li>A payload selected from the entries of universities worldwide.</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2026 : </strong>ComSat Mission</h3>
					<img src="/images/MO_comsat.jpg">
					<h4>Launch of Communications Satellite</h4>
					<br>
					<p>A communications satellite will be launched to Mars where it will be placed into stationary Mars orbit. This satellite will enable communications between Earth and Mars and relay images, videos, and other data from the Mars surface on a 24/7 basis, except when the sun is between the two planets.</p>
		
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2029 : </strong>Rover & ComSat Mission</h3>
					<img src="/images/mars-rover.jpg">
					<h4>Launch of a Rover and a Communications Satellite</h4>
					<br>
					<p>A rover and a trailer will be launched to Mars. The rover will use the trailer to transport the landing modules to the outpost location. It will drive around the region to find the best location for the settlement and will prepare that area for arrival of the cargo missions. Read more about the Mars One rover.</p>
					<p>A second communications satellite will be launched into orbit around the Sun. The two communications satellites together will enable 24/7 communication with Mars, even when the Sun is between the two planets.</p>	
				</div>
			</div>

			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2030 : </strong>Cargo Missions</h3>
					<img src="/images/mars-cargo.jpg">
					<h4>Launch of six cargo missions</h4>
					<br>
					<p>Six cargo missions will be launched to Mars, containing a second rover, two living units, two life support units, and a supply unit. The six cargo units will land up to 10 km away from the outpost on Mars, using a rover signal as a beacon.</p>	
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2031 : </strong>Outpost Operational</h3>
					<img src="/images/outpost-operational.jpg">
					<h4> Rover prepares the outpost before arrival of the settlers </h4>
					<br>
					<p>The rover will pick up all cargo units using a trailer, starting with the first life support unit. The rover will place it in the correct location, and deploy the thin-film solar panels to power the the life support unit. The rover will then be able to connect to the life support unit to recharge its batteries much faster than using only its own panels, allowing it to work more effectively. The rover will pick up all other cargo units and deploy the thin-film solar panel of the second life support unit and the inflatable sections of both living units.</p>
					<p>The life support unit will be connected to the living units by a hose that can transport water, air, and electricity. Once these are connected, the Environmental Control and Life Support System (ECLSS) will be activated. The rover will feed Martian soil into the ECLSS and the water will be extracted from this soil by evaporating its subsurface ice particles in an oven. The evaporated water is condensed back to its liquid state and stored, and part of the water is used for producing oxygen. The nitrogen and argon filtered from the Martian atmosphere will make up the other components of the breathable air inside the habitat.</p>
					<p>Before the first crew begins its journey, the ECLSS will have produced a breathable atmosphere of 0.7 barometric pressure, 3,000 liters of water, and 240 kg of oxygen which will be stored for later use.</p>
					<p>The rover will also deposit Martian soil on top of the inflatable sections of the habitat to shield it from radiation.</p>	
				</div>
			</div>

			<div class="col-md-6">
				<div class="thumbnail">
					<h3><strong>2032 : </strong>Departure Crew One</h3>
					<img src="/images/mars-transit-vehicle.jpg">
					<h4>Ready for liftoff! The first crew will start their journey to Mars</h4>
					<br>
					<p>After receiving the green light on the status of all systems on Mars, the Mars Transit Vehicle (MTV) will be prepared for the journey to Mars. First, a transit habitat and a Mars lander with an assembly crew aboard will be launched into Earth orbit. The assembly crew will dock the Mars lander to the transit habitat. About thirty days later, two propellant stages and the boosters that will "kick" the transit vehicle from low Earth orbit to Mars transfer orbit, will be launched and connected.</p>
					<p>Once that has been successfully completed, the first fully trained Mars crew will be launched into the same Earth orbit to switch places with the assembly crew, which will descend back to Earth. After a final check of all systems on Mars and on the transit vehicle, engines of the propellant stages will be fired and the MTV will be launched into a Mars-transit trajectory. This is the point of no return for the Mars crew. Read more about the Mars Transit Vehicle.</p>
					<p>The cargo for the second crew will be launched toward Mars in the same month as the launch of the first Mars settlers..</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="thumbnail">
					<h3><strong>2033 : </strong>Landing Crew One</h3>
					<img src="/images/humans-on-mars.jpg">
					<h4>The Next Giant Leap for Mankind</h4>
					<p>Approximately twenty-four hours before landing, the crew will move from the transit habitat into the landing module, bringing some of the supplies from the transit habitat. The landing module will then detach from the transit habitat, which is too large to land on Mars. The transit habitat is discarded and stays in orbit around the sun.</p>

					<p>The landing technology will be the same as used for previous cargo missions. This will ensure that the human crew lands in a system that has been tested several times already. Upon landing, the crew takes up to forty-eight hours to get used to gravity after spending six to eight months in space. The astronauts will leave the lander in their Mars suits and will be picked up by the rover that will bring them to the outpost. They will enter the settlement through an airlock and spend the next few days in one of the living units, recovering and settling into their new environment. After their acclimatization period, the crew will deploy the rest of the solar panels, install the hallways between the landers, and set up food production units.</p>

					<p>Redundancy is extremely important, because the astronauts can't abandon their mission in case of an emergency. When the first crew lands, it will find the established outpost with good redundancy as it will include two living units, each large enough to house the crew of four, and two life support units that are each capable of providing enough water, power, and breathable air for the entire crew. To add even more redundancy, the cargo for the second crew will land within a few weeks after the first crew has landed.</p>

					<p>When the hardware for the second crew is incorporated, the crew of four astronauts will have four living units and four life support units, enough to sustain a crew of sixteen astronauts.</p>
				</div>
			</div>
		</div>


	</div>