

<div class="jumbotron">
	<div class="container">
	  <center><h1>Welcome to MicroBlog!</h1></center><br>
		 <center><div id="log_in">
			  <small>Log in right here.</small>
			  <p><a class="btn btn-primary btn-lg" role="button" active" href="/login">Login</a></p>
			  <br>
			  <small>Not a member yet, sign up here!</small>
			  <p><a class="btn btn-primary btn-lg" role="button" active" href="/signup">Sign Up</a></p>
		  </div></center> 
	 </div>
</div>







		
