 <div class="container">
    <center><h1>Welcome to Bumbler!</h1><small>Where you come for your funny fix.</small></center><br>
     	<center><div id="log_in">
        	<small>Log in right here.</small>
       		<%= link_to 'Log In', sessions_new_path %>
        <br>
        	<small>Not a member yet, sign up here!</small>
        	<%= link_to 'Sign Up', new_user_path %>
        	
      </div></center> 
   </div>
</div>