<h1>Welcome to Shipped! We are a cargo shipping company that transports a variety of goods internationally on the open sea.</h1>

<%= link_to "Log In", new_user_session_path %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<hr>
<%= link_to "Sign Up", new_user_registration_path %>
